<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tailwind CSS Example</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <script defer src="/static/script/index.js"></script>
</head>

<body>
  <div class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-3xl md:text-4xl text-center font-bold break-normal">Medical Question Analysis</h1>
    <input id="text" type="text" class="mt-4 px-4 py-2 
    border rounded-md shadow-md 
    outline-none focus:shadow-outline 
    focus:border-indigo-500 text-center 
    w-96 md:w-96" 
    placeholder="Enter your question">
    <p class="mt-2 text-xl">
      your question is <span id="sentiment">empty</span>
    </p>
  </div>

</body>

</html>
